.products_grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
}

.products_grid_item {
    background: whitesmoke;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 16em;
}

@media only screen and (max-width: 767px) {
    .products_grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px;
      }
      .products_grid_item {

        min-height: 10em;
    }
}
