.Container{
    display:flex;
}
.Nav{
    display: flex;
}
.Navdiv{
    display: flex;
    flex-direction: row;
    font-family:Poppins;
    margin-left: 51.5%;
}
.div1{
    margin-left: 3%;
    /* font-weight: 700px; */

}
.NavLink{
    font-weight: 700%;
}